body {
    background-color: #f7f9fc;
    font-family: "Inter", sans-serif;
    color: #111111;
    margin: 0;
    padding: 0;
}

.board {
    max-width: 80%;
    margin: 30px auto 0;
    padding: 25px 25px 0;
}

.form {
    background-color: #ffffff;
    border: 2px solid #6366f190;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.name-label {
    font-weight: 600;
    color: #111111;
}

.input-box {
    flex: 1;
    border: 2px solid #e5e7eb;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 16px;
}

.input-box:focus {
    outline: none;
    border-color: #6366f1;
}

.form button {
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 13px 25px;
    font-weight: 600;
    cursor: pointer;
}

.todo-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #6366f190;
    padding: 20px;
    height: calc(100vh - 240px);
    overflow-y: scroll;
}

.container h3 {
    margin-top: 0;
    font-size: 18px;
    color: #111827;
    padding-bottom: 15px;
    border-bottom: 2px solid #6366f190;
    font-weight: 600;
}

.ready,
.in-progress,
.completed {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-content {
    background-color: #f3f4f6;
    border-radius: 15px;
    border: 1px solid #11111120;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-content span {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.next-btn,
.prev-btn {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.next-btn {
    background-color: #6366f1;
    color: white;
}

.prev-btn {
    background-color: #e5e7eb;
    color: #6b7280;
}

.empty-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 70%;
}

.empty-msg p {
    color: #969696;
}
